@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400&family=Fira+Code:wght@300;400&family=Noto+Sans:wght@300;400;500;600&family=Roboto+Mono:wght@200&display=swap');
.App {
  text-align: center;
  margin: 80px 0px 40px 0px;

}
.name,
.email,
.password {
  margin: 20px;
  color: grey;
  font-size: 16px;
}
