*{
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(135dg, purple, maroon);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.app-wrapper {
  background-color: white;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}
.title {
  color: #f80759;
  text-align: center;
  margin: 80px 0px 40px 0px;

}
.name,
.email,
.password {
  margin: 20px;
  color: grey;
  font-size: 16px;
}
