.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #e0e0e0;
    ;
    bottom: 0;
    z-index: 2;
    position: fixed;
    margin: 0;
    height: 50px;
    width: 100%;

}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar img {
    height: 28px;
}

.navbar .active img {
    height: 35px;
}
.navbar div{
    cursor: pointer;
}


.navbar .active {
    background: #868585;
    border-radius: 0px;
    border-radius: 0px;
background: #f1e7e7;
box-shadow:  5px 5px 10px #aaa8a8,
             -5px -5px 10px #edebeb;
    padding: 4px 8px;
}

.nav-text {
    display: none;
}

.profilelink{
    color: black;
    text-decoration: none;
}

.homelink{
   color: black;
    text-decoration: none; 
}

@media only screen and (min-width:600px) {
    .nav-text {
        display: block;
        font-size: 20px;
    }

    .active .nav-text {
        font-weight: 800;
        font-size: 25px;
    }

    .navbar .active {
        width: 100%;
        background: #dbdada;
        background: #dbdada;
box-shadow: 8px 8px 17px #bfbebe,
    -8px -8px 17px #f7f6f6;
    padding: 0px;

    }

    .navbar {
        /* display: flex; */
        /* justify-content: space-evenly; */
        flex-direction: column;
        /* align-items: center; */
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
        height: auto;
        width: 250px;
        align-items: flex-start;
        height: 400px;
        margin: 30px 0;
        border-radius: 0px;
        background: #e0e0e0;
        box-shadow: 5px 5px 10px #808080,
            -5px -5px 10px #ffffff;
    }

    .navbar img {
        margin: 20px 30px 15px 15px;
    }
}