.post{
    font-size: 15px;
padding: 0px 10px 0px 5px;
font-family: "Noto Sans",sans-serif;
background: #fafafa;
max-width: 600px;
margin: 10px 5px;
box-shadow:  5px 5px 10px #bbbbbb,
             -5px -5px 10px #ffffff;;
}

.main-details{
    display: flex;
    align-items: center;
}
.prof-image img{
    height: 65px;
    border-radius: 10px;
    margin: auto  10px auto auto;
}
.post-top{
    display: flex;
    justify-content: space-between;
    color: #747474;
    font-size: 12px;
}
.post-names{
    display: flex;
}
.content{
    text-align: left;
    margin: auto 20px -15px 0;
}
.post-names p{
    margin: auto 2px -5px;
   
}
.post-dot{
    margin:0 4px;
    font-size: 20px;
}
.more{
    margin: auto 0px -1px 0;
    font-size: 32px;
    cursor: pointer;
}
.post-bottom {
    margin: -5px auto auto ;
display: flex;
justify-content: space-between;


}
.post-bottom div{
    display: flex;
    align-items: center;
    padding: 0 15px;

}
.post-icons{
    height: 20px;
    cursor: pointer;
}
.post-counts{
    margin-left: 7px;
    color: #747474;
}

@media only screen and (min-width: 600px) {
    .post{
        font-size: 16px;
    }
}
.new-reply{
text-align: left;
padding: 10px 5px;
}

.post form div{
    display: flex;
align-items: center;
}
.inputs img{
    height: 30px;
    border-radius: 50%;
    margin: auto 5px;
}
.inputs textarea{
    font-family:"Noto Sans" ;
    border: none;
    font-size: 15px;
    width: 90%;
    appearance: none;
    -moz-appearance: none;
    outline: none;
}
.replying{
    display: flex;
    justify-content: space-between;
}
.replying button{
    background: none;
    border: none;
    cursor: pointer;
}
.replying button img{
    height: 20px;
}
.form-submit{
    justify-content: flex-end;
    display: flex;
}
.form-submit button{
    background: #0d7946;
    border: none;
    cursor: pointer;
    padding: 0px 15px;
    border-radius: 10px;
}
.form-submit img{
    filter: invert();
    height: 25px;
    transform: rotate(-100deg);
}
.comment{
    margin: 10px auto;
align-items: center;
width: 100%;
padding: 10px 5px 20px;
background: #ffffff;
box-shadow:  5px 5px 10px #f0efef,
             -5px -5px 10px #f5f5f5;;
}
.comment div{
    display: flex;
    justify-content: space-between;
}
.prof-image-comment{
    height: 30px;
    border-radius: 50%;
}
.comment-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-top div{
    color: #747474;
    font-size: 14px;
    display: flex;
    margin: 4px 5px;
}

.comment-top div *{
    margin: auto 3px;
}
.comment-text{
    margin: -4px 4px;
}
.more-com{
    color: #747474;
    font-size: 24px;
    margin: 10px;
}
#replies{
    font-size: 18px;
    margin: 5px;

}
.comments{
    margin-bottom: 20px;
}