.profile img{
    border-radius: 50%;
    margin-top: 30px;
}
.user-details{
    display: flex;
    flex-direction: column;
}
.nameheader{
    margin: 5px 10px -13px;
}
.usernameheader{
    font-size: 20px;
}
.user-details p{
    margin: 5px 10px;
}