.profile-container{
    font-family: "Noto Sans", sans-serif;
    background-color: #fcfcfc;
    align-self: center;
    width: 490px;
    height: 450px;
    padding: 0px 10px 0px 5px;
    box-shadow:  5px 5px 10px #b9d0ea,
             -5px -5px 10px #e4e1e1;;
    margin-top: 20px;
}
.profile-container img{
    border-radius: 50%;
    margin-top: 20px;
}
.user-details{
    display: flex;
    flex-direction: column;
}
.nameheader{
    margin: 5px 10px -13px;
}
.usernameheader{
    font-size: 20px;
}
.user-details p{
    margin: 5px 10px;
    display: block; 
    text-align: left;  
    margin-left: 30%;
   
}
.update-profile{
    margin-top: 20px;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(31, 54, 230);
    box-shadow: inset 0 0 20px #0c0b0c;
}

.update-profile:hover{
    background-color: rgb(27, 128, 186);
}